.c-button--contact{
    @include button;
    height: 66px;
    margin: 25px auto;

    a p{
        color: #EDEDED;
        font-family: BIZ UDP明朝;
        font-size: 20px;
    }
}

.c-button--details{
    &--site{
        @include button;
        height: 59px;
        width: 170px;
        margin: 25px auto;

        a p{
            color: #EDEDED;
            font-family: BIZ UDP明朝;
            font-size: 16px;
        }
    }
    &--code{
        @include button;
        height: 59px;
        width: 170px;
        margin: 25px auto;

        a p{
            color: #EDEDED;
            font-family: BIZ UDP明朝;
            font-size: 16px;
        }
    }
}

.c-button--contactform{
    @include button;
    margin: 32px auto 70px auto;
    height: 59px;
    width: 170px;
    color: #EDEDED;
    font-weight: bold;
    font-size: 20px;
}