.c-button--contact{
    display: block;
    background-color: #144DA0;
    border-radius:30px;
    height: 66px;
    margin: 25px auto;

    a p{
        color: #EDEDED;
        font-family: BIZ UDP明朝;
        font-size: 20px;
    }
}

.c-button--details{
    &--site{
        display: block;
        background-color: #144DA0;
        border-radius:30px;
        height: 59px;
        width: 170px;
        margin: 25px auto;

        a p{
            color: #EDEDED;
            font-family: BIZ UDP明朝;
            font-size: 16px;
        }
    }
    &--code{
        display: block;
        background-color: #144DA0;
        border-radius:30px;
        height: 59px;
        width: 170px;
        margin: 25px auto;

        a p{
            color: #EDEDED;
            font-family: BIZ UDP明朝;
            font-size: 16px;
        }
    }
}

.c-button--contactform{
    border-radius:30px;
    margin: 32px auto 70px auto;
    height: 59px;
    width: 170px;
    display: block;
    background: #144DA0;
    color: #EDEDED;
    font-weight: bold;
    font-size: 20px;
}