.c-button--contact{
    display: block;
    background-color: #144DA0;
    border-radius:30px;
    height: 66px;
    margin: 25px auto;

    a p{
        color: #EDEDED;
        font-family: BIZ UDP明朝;
        font-size: 20px;
    }
}