.c-icon--contact{
    display: flex;
    justify-content: center;
    margin-top: 25px;

    &--twitter{
        @include icon;
    }
    .fa-twitter{
        color: #55ACEE;
    }

    &--facebook{
        @include icon;
        margin-left: 15.5px;
        margin-right: 15.5px;
    }
    .fa-facebook{
        color: #3B5998;
    }

    &--github{
        @include icon;
    }
    .fa-github{
        color: #000000;
    }
    .fab{
        padding: 20px;
    }
}