.p-content--works{
    margin-top: 40px;

    &__title{
        text-align: center;
        color: #144DA0;
        font-size: 30px;
        font-weight: bold;
        font-family: Sitka Heading;
    }
    &__subtitle{
        text-align: center;
        color: #144DA0;
        font-weight: bold;
        font-family:BIZ UDP明朝;
    }

    &--raisetech{
        margin-top: 20px;
        position: relative;

        &__img{
            height: auto;
            object-fit: cover;
            object-position: top;
            cursor: pointer;
        }
        &__mask{
            width: 100%;
            height: 100%;
            position: absolute;	
            top: 0;
            left: 0;
            opacity: 0;	/* マスクを表示しない */
            background-color:rgba(0,0,0,0.4);
            transition:	all 0.2s ease;
        }
        &__title{
            color: #fff;
            text-align: center;
            font-family: Sitka Heading;
            font-size: 40px;
            position: absolute;
            top: 50px;
        }
    }

    &--hamburgermenu{
        margin-top: 20px;
        position: relative;

        &__img{
            height: 223px;
            object-fit: cover;
            object-position: top;
            cursor: pointer;
        }
        &__mask{
            width: 100%;
            height: 100%;
            position: absolute;	
            top: 0;
            left: 0;
            opacity: 0;	/* マスクを表示しない */
            background-color:rgba(0,0,0,0.4);
            transition:	all 0.2s ease;
        }
        &__title{
            color: #fff;
            text-align: center;
            font-family: Sitka Heading;
            font-size: 40px;
            position: absolute;
            top: 50px;
        }
    }
}
.p-content--works--raisetech:hover .p-content--works--raisetech__mask{
    opacity: 1;
}
.p-content--works--hamburgermenu:hover .p-content--works--hamburgermenu__mask{
    opacity: 1;
}


.p-content--skills{
    margin-top: 50px;

    &__title{
        text-align: center;
        color: #144DA0;
        font-size: 30px;
        font-weight: bold;
        font-family: Sitka Heading;
    }
    &__subtitle{
        text-align: center;
        color: #144DA0;
        font-weight: bold;
        font-family:BIZ UDP明朝;
        margin-bottom: 20px;
    }

    &--html{
        &__title{//skillsのtitleをconfigにする
            color: #101841;
            text-align: center;
            font-family: Sitka Heading;
            font-size: 20px;
        }
    }

        &--css{
            &__title{
                color: #101841;
                text-align: center;
                font-family: Sitka Heading;
                font-size: 20px;
            }
        }

        &--sass{
            &__title{
                color: #101841;
                text-align: center;
                font-family: Sitka Heading;
                font-size: 20px;
            }
        }

        &--cssdesign{
            &__title{
                color: #101841;
                text-align: center;
                font-family: Sitka Heading;
                font-size: 20px;
            }
        }

        &--wordpress{
            &__title{
                color: #101841;
                text-align: center;
                font-family: Sitka Heading;
                font-size: 20px;
            }
        }

        &--git{
            &__title{
                color: #101841;
                text-align: center;
                font-family: Sitka Heading;
                font-size: 20px;
            }
        }

        &--js{
            &__title{
                color: #101841;
                text-align: center;
                font-family: Sitka Heading;
                font-size: 20px;
            }
        }

        &__text{
            font-family: BIZ UDP明朝;
            font-size: 16px;
            color: #101841;
            line-height: 1.875;
        }
}

.p-content--about{
    margin-top: 40px;
    position: relative;

    &__title{
        text-align: center;
        color: #144DA0;
        font-size: 30px;
        font-weight: bold;
        font-family: Sitka Heading;
    }
    &__subtitle{
        text-align: center;
        color: #144DA0;
        font-weight: bold;
        font-family:BIZ UDP明朝;
        margin-bottom: 20px;
    }

    &__img{
        cursor: pointer;
        filter: grayscale(100%);
    }

    &__profile{
        font-size: 20px;
        color: #101841;
        font-family: Sitka Heading;
        margin-top: -105px;
        padding-left: 75px;
        position: absolute;
    }

    &__text{
        font-family: BIZ UDP明朝;
        font-size: 16px;
        color: #101841;
        margin-top: 20px;
        line-height: 1.875;
    }
}
.p-content--about:hover img{
    filter: grayscale(0%);
    transition: filter .5s;
}

.p-content--price{
    margin-top: 40px;

    &__title{
        text-align: center;
        color: #144DA0;
        font-size: 30px;
        font-weight: bold;
        font-family: Sitka Heading;
    }
    &__subtitle{
        text-align: center;
        color: #144DA0;
        font-weight: bold;
        font-family:BIZ UDP明朝;
        margin-bottom: 20px;
    }
}

.p-content--pricetable{
    &--coding{
        text-align: center;

        h4{
            font-size: 20px;
            color: #101841;
            font-family: BIZ UDP明朝;
            margin-bottom: 20px;
        }

        p{
            font-size: 16px;
            color: #101841;
            font-family: BIZ UDP明朝;
            margin-bottom: 20px;
            border-bottom: 1px solid #101841;
        }
    }

    &--wordpress{
        text-align: center;

        h4{
            font-size: 20px;
            color: #101841;
            font-family: BIZ UDP明朝;
            margin-bottom: 20px;
        }

        p{
            font-size: 16px;
            color: #101841;
            font-family: BIZ UDP明朝;
            margin-bottom: 20px;
            border-bottom: 1px solid #101841;
        }
    }

    &--note{
        p{
            font-size: 16px;
            color: #101841;
            font-family: BIZ UDP明朝;
            line-height: 1.875;
        }
    }
}

.p-content--contact{
    margin-top: 40px;
    margin-bottom: 50px;

    &__title{
        text-align: center;
        color: #144DA0;
        font-size: 30px;
        font-weight: bold;
        font-family: Sitka Heading;
    }
    &__subtitle{
        text-align: center;
        color: #144DA0;
        font-weight: bold;
        font-family:BIZ UDP明朝;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        color: #101841;
        font-family: BIZ UDP明朝;
        line-height: 1.875;
        text-align: center;
    }
}

.p-content--single{
    &__title{
        text-align: center;
        font-family: Sitka Heading;
        font-size: 40px;
        font-weight: bold;
        color: #101841;
        border-bottom: 1px  solid #101841;
        margin-top: 50px;
    }
    &__subtitle{
        text-align: center;
        font-family: Sitka Heading;
        font-size: 30px;
        font-weight: bold;
        color: #101841;
        margin-top: 15px;
    }
}
.p-content--single--size{
    margin-bottom: 50px;
    .p-content--single--pc{
        &__title{
            text-align: center;
            color: #144DA0;
            font-size: 30px;
            font-weight: bold;
            margin-top: 35px;
            margin-bottom: 20px;
            font-family: Sitka Heading;
        }
    }
    .p-content--single--ipad{
        &__title{
            text-align: center;
            color: #144DA0;
            font-size: 30px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 20px;
            font-family: Sitka Heading;
        }
    }
    .p-content--single--iphone{
        &__title{
            text-align: center;
            color: #144DA0;
            font-size: 30px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 20px;
            font-family: Sitka Heading;
        }
        &__img{

        }
    }
}

.p-content--single--details{
    &__title{
        text-align: center;
        color: #144DA0;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: Sitka Heading;
    }
    &__text{
        font-size: 16px;
        color: #101841;
        font-family: BIZ UDP明朝;
        line-height: 1.875;
    }
}

.p-content--page{
    &__title{
        text-align: center;
        font-family: Sitka Heading;
        font-size: 40px;
        font-weight: bold;
        color: #101841;
        border-bottom: 1px  solid #101841;
        margin-top: 50px;
    }
    &__subtitle{
        text-align: center;
        font-family: BIZ UDP明朝;
        font-size: 20px;
        font-weight: bold;
        color: #101841;
        margin-top: 15px;
    }
}