.p-header__nav__list{

    &--works>a{
        color: #EDEDED;
        font-family: Sitka Heading;
        font-size: 20px;
    }
    &--works{
       height: 60px;
       text-align: center;
       padding-top: 22px;
    }
    &--skills>a{
        color: #EDEDED;
        font-family: Sitka Heading;
        font-size: 20px;
    }
    &--skills{
       height: 60px;
       text-align: center;
       padding-top: 22px;
    }
    &--about>a{
        color: #EDEDED;
        font-family: Sitka Heading;
        font-size: 20px;
    }
    &--about{
       height: 60px;
       text-align: center;
       padding-top: 22px;

    }
    &--price>a{
        color: #EDEDED;
        font-family: Sitka Heading;
        font-size: 20px;
    }
    &--price{
       height: 60px;
       text-align: center;
       padding-top: 22px;

    }
    &--contact>a{
        color: #EDEDED;
        font-family: Sitka Heading;
        font-size: 20px;
    }
    &--contact{
       height: 60px;
       text-align: center;
       padding-top: 22px;
    }
}
.p-header__nav__list--works:hover{
    background-color: #EDEDED;
}
.p-header__nav__list--works:hover a{
    color: #101841;
}
.p-header__nav__list--skills:hover{
    background-color: #EDEDED;
}
.p-header__nav__list--skills:hover a{
    color: #101841;
}
.p-header__nav__list--about:hover{
    background-color: #EDEDED;
}
.p-header__nav__list--about:hover a{
    color: #101841;
}
.p-header__nav__list--price:hover{
    background-color: #EDEDED;
}
.p-header__nav__list--price:hover a{
    color: #101841;
}
.p-header__nav__list--contact:hover{
    background-color: #EDEDED;
}
.p-header__nav__list--contact:hover a{
    color: #101841;
}


.p-header__title{
    position: absolute;
    text-align: center;
    color: rgba(237,237,237,.5);
    font-size: 100px;
    font-family: Sitka Heading;
    line-height: 0.4;
    top:100px
}
.p-header__subtitle{
    position: absolute;
    top: 250px;
    color:#EDEDED;
    font-size: 50px;
    font-weight: bold;
    font-family: Sitka Heading;
    text-align: center;
}

.p-header__title--single{
    font-size: 20px;
    font-weight: bold;
    font-family: Sitka Heading;
    color: #EDEDED;
    position: fixed;
    width: 200px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 0.85;
}